<table class="white table table-dark">
    <thead>
    <tr>
        <th scope="col">Сумка</th>
        <th scope="col">Размер</th>
        <th scope="col">Материал</th>
        <th scope="col">Цвет сумки</th>
        <th scope="col">Цвет ручек</th>
        <th scope="col">Цвет низа</th>
        <th scope="col">Количество</th>
        <th scope="col">Индивидуальная упакова</th>
        <th scope="col">Пришивная бирка</th>
        <th class="col" scope="col">Наклейка</th>
        <th class="col" scope="col">Статус оплаты</th>
    </tr>
    </thead>
    <tbody>
    {{#each orders}}
    <tr>
        <td>{{this.Bag.name}}</td>
        <td>{{this.Size.size}}</td>
        <td>{{this.Material.name}}</td>
        <td>{{this.bagColor.name}}</td>
        <td>{{this.handlesColor.name}}</td>
        <td>{{this.botColor.name}}</td>
        <td>{{this.pcs}}</td>
        <td>{{this.ind_pack}}</td>
        <td>{{this.label}}</td>
        <td>{{this.sticker}}</td>
        <td>{{this.Order.paid}}</td>
    </tr>
    {{/each}}
    </tbody>
</table>